<!-- <table class="table table-hover">
    <thead class="table-info">
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Address</th>
            <th>Payment_Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{orderByUser.name}}</td>
            <td>{{orderByUser.mobile}}</td>
            <td>
                <div class="nav-item dropdown">
                    <span class="account nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Address
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">Mdl : {{orderByUser.address}}</a>
                        <a class="dropdown-item">City : {{orderByUser.city}}</a>
                        <a class="dropdown-item">State : {{orderByUser.state}}</a>
                    </div>
                </div>
            </td>
            <td>
                Successfull
            </td>
            <td>
                <mat-icon color="warn" matTooltip="view" matTooltipPosition="after" (click)="viewOrderByProductTable(orderByUser)">visibility</mat-icon>
            </td>
        </tr>
    </tbody>
</table> -->

