<h2>
    Update Product
</h2>
<hr>
<form #productForm="ngForm" (ngSubmit)="updateProduct(productForm)">
    <div class="form-group">
        <input type="hidden" name="_id" [(ngModel)]="product._id" class="form-control">
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" [(ngModel)]="product.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" [(ngModel)]="product.description" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="price" [(ngModel)]="product.price" class="form-control">
            </div>
            <div class="form-group">
                <label for="imagePath">Image</label>
                <input type="text" disabled name="imagePath" [(ngModel)]="product.imagePath" class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <img [src]="product.imagePath" alt="product.name">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <mat-dialog-actions align="end">
                <button type="submit" mat-raised-button color="primary" mat-dialog-close>Update</button>
            </mat-dialog-actions>
        </div>
        <div class="col-sm-5"></div>
    </div>

</form>