<div class="row">
    <div class="col-sm-6 offset-sm-3 card">
        <div class="header">
            <div class="row">
                <div class="col col-sm-6 signIn" [routerLink]="['/login']">
                    <span>Sign In</span>
                </div>
                <div class="col col-sm-6 signUp" [routerLink]="['/signup']">
                    <span>Sign Up</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>